* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: "Ubuntu", sans-serif;
}

.blue {
	color: #00b1d8;
}

.container {
	max-width: 946px;
	margin: auto;
}

.header {
	margin-top: 40px;
}

.header-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-logo-group {
	display: flex;
	align-items: center;
}

.header-name {
	display: flex;
	flex-direction: column;
}

.header-font {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #000000;
}

.header-name2 {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 9px;
}

.header-rto {
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
}

.header-logo {
	margin-right: 17px;
}

.header-number {
	display: flex;
	flex-direction: column;
}

.number {
	text-decoration: none;
}

.header-mid {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: -40px;
}

.header-title {
	font-weight: bold;
	font-size: 48px;
	line-height: 55px;
}

.header-tags {
	display: flex;
	align-items: center;
}

.header-icon-g {
	display: flex;
	align-items: center;
}

.header-icon {
	margin-right: 7px;
	width: 40px;
	height: 40px;
}

.header-icon-text {
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
}

.header-btn {
	border: 1.3px solid #00b1d8;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 9px;
	height: 45px;
	width: 138px;
	font-size: 12px;
	line-height: 14px;
	color: #00b1d8;
	margin-top: 51px;
	margin-left: 177px;
	background: transparent;
}

.nav {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.nav-ul {
	display: flex;
	flex-direction: row;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	list-style-type: none;
}

.nav-li:not(:last-child) {
	margin-right: 27px;
}

.offers-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 21px;
}

.offers-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	margin: 0;
}

.offers-subtitle {
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	margin: 0;
	margin-bottom: 21px;
}

.offer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.offer:not(:last-child) {
	margin-bottom: 22px;
}

.offer-img {
	margin-right: 15px;
}

.offer-desc {
	display: flex;
	flex-direction: column;
	max-height: 100%;
}

.offer-desc h5,
p:not(:last-child),
button {
	margin-bottom: 7px;
}

.offer-desc p {
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
}

.offer-button {
	background: #ffffff;
	border: 1px solid #18a0fb;
	box-sizing: border-box;
	border-radius: 6px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: -0.015em;
	color: #18a0fb;
	padding: 3px;
}

.subscribe {
	display: flex;
	justify-content: space-between;
	background: rgba(196, 196, 196, 0.35);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	height: 88px;
	margin-bottom: 40px;
}

.subscribe-title {
	margin: auto;
	font-size: 17px;
	line-height: 20px;
}

.subscribe-form {
	width: 50%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.subscribe-form-left {
	width: 225px;
	margin-right: 17px;
}

.subscribe-form-right {
	width: 143px;
	margin-right: 17px;
}

.subscribe-input {
	background: #ffffff;
	border-radius: 4px;
	border: 0;
	width: 225px;
	height: 30px;
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	color: rgba(0, 0, 0, 0.19);
	padding-left: 16px;
}

.subscribe-input:not(:last-child) {
	margin-bottom: 9px;
}

.subscribe-input-right {
	margin-bottom: 9px;
	width: 143px;
	height: 30px;
}

.subscribe-btn {
	background: #00b1d8;
	width: 100%;
	height: 30px;
	color: #ffffff;
	border: transparent;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: -0.015em;
	font-size: 12px;
	line-height: 14px;
}

.input2::-webkit-input-placeholder {
	text-indent: 0px;
	transition: text-indent 1s ease;
}

.input2::-moz-placeholder {
	text-indent: 0px;
	transition: text-indent 1s ease;
}

.input2:-moz-placeholder {
	text-indent: 0px;
	transition: text-indent 1s ease;
}

.input2:-ms-input-placeholder {
	text-indent: 0px;
	transition: text-indent 1s ease;
}

.input2:focus::-webkit-input-placeholder {
	text-indent: 500px;
	transition: text-indent 1s ease;
}

.input2:focus::-moz-placeholder {
	text-indent: 500px;
	transition: text-indent 1s ease;
}

.input2:focus:-moz-placeholder {
	text-indent: 500px;
	transition: text-indent 1s ease;
}

.input2:focus:-ms-input-placeholder {
	text-indent: 500px;
	transition: text-indent 1s ease;
}

.important-info {
	display: flex;
	justify-content: space-between;
	align-self: stretch;
	height: 189px;
}

.important-info-left {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #35acfc;
	border-radius: 14px;
	width: 31%;
	font-weight: bold;
	font-size: 35px;
	line-height: 40px;
	color: #ffffff;
}

.important-info-mid {
	width: 34%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: space-around;
	align-items: center;
}

.important-tabs {
	display: flex;
	align-items: center;
	max-width: 248px;
}

.important-img {
	padding-right: 15px;
}

@media (max-width: 1001px) {
	.container {
		max-width: 800px;
	}

	.header-port {
		width: 450px;
	}
	.offer-button {
		display: flex;
		justify-content: center;
		max-width: 135px;
	}
	.offers-subtitle {
		max-width: 300px;
	}
}

@media (max-width: 841px) {
	.container {
		max-width: 650px;
	}
	.header-port {
		width: 350px;
	}
	.header-mid {
		margin-top: -20px;
		margin-bottom: 25px;
	}
	.header-title {
		font-weight: bold;
		font-size: 40px;
		line-height: 43px;
	}
	.header-btn {
		margin-top: 23px;
    	margin-left: 126px;
	}
	.nav-li {
		margin-right: 27px;
	}
	.offers-main {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.offers-left, .offers-right {
		width: 40%;
		display: flex;
		flex-direction: column;
	}
	.offers-title {
		font-weight: bold;
		font-size: 16px;
		line-height: 18px;
		text-align: center;
	}
	.offers-subtitle {
		font-weight: normal;
		font-size: 16px;
		line-height: 18px;
		text-align: center;
	}
	.offer {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
	}
	.offer-img {
		margin: 0;
		margin-bottom: 5px;
	}
	.offer-desc {
		width: 86%;
	}
	.offer-button {
		max-width: 100%;
	}
	.subscribe-input {
		width: 100%;
	}
	.subscribe-title {
		font-size: 15px;
		line-height: 15px;
	}
	.important-info-left {
		font-size: 23px;
		line-height: 24px;
	}
	.important-tabs-text {
		font-size: 12px;
	}
	.important-img {
		width: 36%;
	}
}

@media (max-width: 680px) {
	.container {
		width: 550px;
	}
	.header-port {
		width: 108%;
	}
	.header-title {
		font-size: 33px;
		line-height: 34px;
	}
	.header-icon {
		width: 33px;
	}
	.header-btn {
		width: 100%;
		margin-top: 10px;
		margin: 0;
		margin-top: 12px;
	}
	.header-mid {
		margin-bottom: 0;
	}
	.offers-title {
		font-size: 14px;
	}
	.offers-subtitle {
		font-size: 14px;
	}
	.offer-desc {
		width: 100%;
	}
	.subscribe-title p {
		width: 80%;
		text-align: center;
	}
	.subscribe-input {
		font-size: 11px;
	}
	.subscribe-btn {
		font-size: 11px;
	}
}

@media (max-width: 585px) {
	.container {
		width: 480px;
	}
	.header-logo img {
		width: 67px;
	}
	.header-font {
		font-size: 11px;
	}
	.header-name2 {
		font-size: 15px;
		margin-bottom: 2px;
	}
	.header-rto {
		font-style: italic;
	}
	.header-icon {
		width: 28px;
	}
	.header-icon-text {
		font-weight: normal;
		font-size: 11px;
		line-height: 11px;
	}
	.header-btn {
		height: 34px;
	}
	.offers-title {
		font-size: 12px;
	}
	.offers-subtitle {
		font-size: 12px;
		line-height: 12px;
	}
	.important-info-left {
		font-size: 19px;
		line-height: 22px;
	}
}

@media (max-width: 480px) {
	.container {
		width: 95%;
	}
	.header-port {
		display: none;
	}
	.c-port {
		display: none;
	}
	.header-mid-right {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
	}
	.header-tags {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.header-btn {
		margin-top: -7px;
		margin-bottom: 7px;
	}
	.header-top {
		margin-bottom: 8px;
	}
	.nav-ul {
		flex-wrap: wrap;
	}
	.nav-li {
		margin-bottom: 6px;
	}
	.offers-main {
		flex-direction: column;
	}
	.offers-left, .offers-right {
		width: 80%;
		margin-top: 20px;
	}
	.offers-title, .offers-subtitle {
		font-size: 14px;
	}
	.offers {
		width: 100%;
	}
	.offer {
		width: 100%;
	}
	.offer-img {
		width: 80%;
	}
	.offer-desc {
		width: 80%;
	}
	.subscribe {
		height: 120px;
		flex-direction: column;
		align-items: center;
		margin-bottom: 20px;
	}
	.subscribe-title, .subscribe-form, .subscribe-title p {
		width: 95%;
	}
	.subscribe-form, .subscribe-title p {
		margin-bottom: 10px;
	}
	.important-info {
		flex-direction: column;
		height: auto;
	}
	.important-info > div {
		width: 95%;
	}
	.important-info-left {
		height: auto;
		padding: 10px 0;
		margin-bottom: 7px;
	}
	.important-img {
		width: 30%;
	}
	.important-tabs {
		margin-bottom: 7px;
	}
}